.top{
    width:100%;
    height:65px;
    position: sticky;
    display: flex; /*align items horizontally*/
    align-items: center;
    top: 0;
    margin:0 auto;
    background-color: white;
}

.top-left{
    flex: 1;  
    justify-content: center;
    display: flex;

}

.topicons{
    cursor: pointer;
    font-size:20px;
    margin-right: 4.5%;
    align-items: center;

}
.top-center{
    flex:2;
    display: flex;
    justify-content:center;
  
}

.topsearch{
    cursor: pointer;
    font-size: 20px;
}

.top-right{
    flex: 3; 
    align-items: center;
    justify-content: center;
    display: flex;
    
}

.toplistitems{
    display: flex;
    padding:0;
    margin: 0;
    list-style: none;
}

.topitems{
    margin-right: 20px;
    font-size: 17px;
    cursor: pointer;
    font-weight: 500;
    align-items: center;
}

.topimage{
    width:45px; 
    height:45px;
    object-fit:cover;
    border-radius: 50%;
    display: flex;
    margin-left: 10%; 
    cursor: pointer;
}

.lowerheader{
    margin-top:20px;
}

.lowerheadertitle{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
   
}

.headertitle01{
    position: absolute;
    top: 13%;
    font-size:20px;
}

.headertitle02{
    position: absolute;
    font-size: 70px;
    top:18%;
}

.lowerheaderimage{
    width:100%;
    margin-top: 10%;
    object-fit: cover;
    height: 450px;
}